[Unit]
Description=Create a consistent Minecraft backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/minecraft/scripts/backup.sh
