[Unit]
Description=Daily Minecraft backup timer

[Timer]
OnCalendar=*-*-* 06:00:00 UTC
Persistent=true
Unit=minecraft-backup.service

[Install]
WantedBy=timers.target
